{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="content-body">
        <h1 class="title-content title-content-midle">Договор возмездного оказания услуг</h1>
        <div class="change_action">
            <div class="items-options">
                <a class="edit_doc" href="{%url 'dogovor_uslugi'%}">Составить документ</a>
                <a class="pdf" href="{% url 'download_pdf' %}">PDF</a>
                <p class="update_template">Шаблон обновлен: 26 ноября 2024 года</p>
            </div>
            <div class="description_template">
                <p class="text-descriprion-template">
                    Договоры оказания услуг – это соглашения между сторонами,
                    в которых одна сторона (исполнитель) обязуется предоставить
                    определенные услуги или действия, а другая сторона (заказчик)
                    обязуется оплатить эти услуги. Этот вид договоров регулируется
                    Гражданским кодексом РФ (ГК РФ), а также другими нормативными актами.
                </p>
                <p class="text-descriprion-template">
                    В соответствии со статьей 779 ГК РФ, договор оказания услуг может
                    быть как платным, так и безвозмездным (бесплатным). При его
                    заключении стороны обязаны
                    действовать добросовестно и соблюдать условия договора (статья 421 ГК РФ)..
                </p>

            </div>
            <p class="description_features">
                Вы можете скачать простую "болванку", просто нажав на кнопку справа "PDF", либо вы можете настроить условия онлайн с помощью конструктора, нажав на кнопку “составить документ” (с самозанятым,
                с юридическим лицом, консультационных или транспортных услуг и т.п.).
            </p>
        </div>
    </section>

{% endblock %}