{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>Скопируйте данный из договора в поле для автоматического заполнения </h2>
<p>Или оставьте его пустым и нажмите кнопку посмотреть результат
    <br>Для ручного ввода данных
</p>
<div style="font-size:10pt">Данные, необходимые для этого документа: <br>
</div>
<form method="post">
    {% csrf_token %}
<textarea rows="10" cols="45" name="zakaz" id="user_query1" placeholder="Данные заказчика и договора:"></textarea>
<textarea rows="10" cols="45" name="ispolnitel" id="user_query2" placeholder="Данные исполнителя и догвора:"></textarea>


<p><input type="submit" name="templatetypr" value="Отправить"></p>
</form>
{% endblock %}



<a href="{% url 'provision-service-edit' %}">
    <p>
      Посмотреть результат
    </p>
</a>